absl-py
aiohappyeyeballs
aiohttp
aiosignal
alembic
aniso8601
antlr4-python3-runtime
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
audiomentations
audioread
autopage
babel
beautifulsoup4
-e git+https://github.com/DBD-research-group/BirdSet.git@6e4bbcbbb2e24eaa44eea7ee45c10d9df39d2348#egg=birdset
bleach
blinker
Bottleneck
cachetools
certifi
cffi
cfgv
charset-normalizer
click
cliff
cloudpickle
cmaes
cmd2
colorlog
comm
contourpy
cycler
databricks-sdk
datasets
debugpy
decorator
defusedxml
Deprecated
dill
distlib
docker
docker-pycreds
exceptiongroup
executing
fastjsonschema
ffprobe
filelock
Flask
fonttools
fqdn
frozenlist
fsspec
gdown
gitdb
GitPython
google-auth
graphene
graphql-core
graphql-relay
greenlet
grpcio
gunicorn
h11
httpcore
httpx
huggingface-hub
hydra-colorlog
hydra-core
hydra-optuna-sweeper
identify
idna
importlib_metadata
iniconfig
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
julius
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lazy_loader
librosa
lightning
lightning-utilities
llvmlite
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mlflow
mlflow-skinny
mpmath
msgpack
multidict
multiprocess
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nodeenv
notebook
notebook_shim
numba
numexpr
numpy
omegaconf
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
optuna
overrides
packaging
pandas
pandocfilters
parso
pbr
pexpect
pillow
platformdirs
pluggy
pooch
pre-commit
prettytable
primePy
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydub
Pygments
pyparsing
pyperclip
pyrootutils
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
pytorch-lightning
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rootutils
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
Send2Trash
sentry-sdk
setproctitle
sh
six
smmap
sniffio
soundfile
soupsieve
soxr
SQLAlchemy
sqlparse
stack-data
stevedore
sympy
tensorboard
tensorboard-data-server
terminado
threadpoolctl
timm
tinycss2
tokenizers
tomli
torch
torch-audiomentations
torch-pitch-shift
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
virtualenv
wandb
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
xxhash
yarl
zipp
